body {
    width: 100vw; height: 100vh;
    background: url(/images/7598163.jpg) no-repeat fixed;
    background-size: cover;
    
}

.top {
    margin: 100px 0;
    width: 1260px; text-align: center; margin: 0 auto;
}
.top ul {
    display: flex; flex-flow: column nowrap;
    position:relative;
}
.top ul li {
    margin: 10px 0;
}
.top ul li img {
    animation: profile 3s alternate linear infinite;
    width: 200px; height: 200px; border-radius: 50%;
    border: 5px solid white;
}
.top ul li h1 {
    font-weight: 800; font-size:2rem;
    background: linear-gradient(90deg,purple, blue, darkgreen, orangered);
    -webkit-background-clip: text/* text안에서만 보이게 하는 것, 글자 색깔 변경 */;
    -webkit-text-fill-color: transparent ;
    background-size: 400%;
    animation: text 10s linear infinite;
}
.top .bar {
    margin: 0 auto;
    width: 300px; height: 15px;
    background: white;
}
.top .bar span {
    width: 100%;
    transition: all 5s;
}
.top ul li img:hover~.bar{
    background: pink;
}
.top p {
    font-weight: 500;
}
/* 아이콘 */
.top .icon {
    justify-content: center;
    display: flex; flex-flow: row nowrap;
    width: 1260px;
}
.top  .icon a {
    display: flex; flex-flow: column;

}
.top  .icon a img{
    width: 25px; height: 25px;
    margin: 0 10px;
    /* display: flex; flex-flow: row nowrap; */
}
.top  .icon a span {
    opacity: 0; margin: 5px 0; padding:5px ;
    font-family: ''; color: #fff;
    width: 100%; background: black;
}
.top  .icon a span:hover {
    opacity: 1;
}
.top  .icon a img:hover~span {
    opacity: 1;
}
.manu_bar {
    display: flex;
    width: 40px; height: 40px;
    background: lime;
    flex-flow: column nowrap;
    position: absolute; top: 0;
}
.manu_bar span{
    display: block; margin: 100px;
    width: 100%; height: 8px;
    border-radius: 5px;
    background: black;
}
.box {
    padding: 100px 0;
}
.box .bg_line1 {
    background: url(/images/bg2.png) repeat-x;
    width: 120%; height: 200px;
    transform: rotate(-15deg);
    animation: bgtext 10s linear infinite;
}
.box .bg_line2 {
    background:url(/images/bg3.png) repeat-x;
    width: 120%; height: 200px;
    transform: rotate(15deg);
    animation: bgtext 10s linear reverse infinite;
}
.btm {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 auto; width: 1260px;
    padding: 100px 0;
}
.btm .item {
    display: flex; flex-flow: column nowrap;
    border-radius: 30% 30% 0 0;
    background: white;
    margin-right: 15px;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden;
}
.btm .item:hover~img {
    background-size: 150%;
}
.btm .item:hover {
    filter: drop-shadow(5px 0 10px black);
}
.btm .item:last-child {
    margin-right: 0;
}
.btm .item img {
    width: 100%;
}
.btm .item em {}
.btm .item span {}
.end {
    padding: 100px 0;
}
#number,#text{
    text-align: center;
    font-size: 2rem;
    color: white; line-height: 1.5;
    filter: drop-shadow(0 0 2px #666);
}
@keyframes bgtext {
    0% {background-position-x: 0;}
    100% {background-position-x: -1000px;}
}

@keyframes profile {
    0% {transform: translateY(0);}
    100% {transform: translateY(-50px);}
}
@keyframes gauge {
    0% {background: 0;}
    100% {background: 0;}
}
@keyframes text {
    0% { background-position-x: 0;}
    100% { background-position-x: 400%;}
}
@keyframes shadow {
    0% {filter: drop-shadow(0);}
    100% {filter: drop-shadow(0 0 5px);}
}
/* header nav .m_nav {
    display: flex;
    width: 40px; height: 40px;
    background: lime;
    flex-flow: column nowrap;
    justify-content:space-between;
}
********* = > x 로 효과주기전 =로 만들기 ********
header nav .m_nav span {
    width: 100%; height: 8px;
    border-radius: 5px;
    background: #222; */